# Copy this file to a local env file (for example: pdi_iteo.env or pdi_sach4.env)
# and fill in real values. Do not commit files with secrets.

SNOW_API_PATH=
SNOW_APP_SCOPE=
SNOW_DATA_SCOPE=
SNOW_HOST=
SNOW_METHOD=
SNOW_PASSWORD=
SNOW_USERNAME=
